       body {
           font-family: 'Open Sans', sans-serif;
           background-color: black;
       }
       
       #container {
           width: 80%;
           height: 120%;
           background-image: url(Web-design.jpg);
           background-repeat: no-repeat;
           background-size: 1000px 550px auto;
           margin: 120px 200px 20px 200px;
       }
       
       #cal {
           width: 33%;
           height: 500px;
           background-color: white;
           margin: 0 auto;
           top: 20px;
           position: relative;
           border-radius: 5px;
           box-shadow: rgb(48, 42, 42);
       }
       
       #result {
           height: 120px;
           background-color: white;
       }
       
       #history {
           text-align: right;
           height: 20%;
           margin: 0 20px;
           padding-top: 10%;
           font-size: 15px;
           background-color: white;
       }
       
       #output {
           text-align: right;
           height: 60px;
           margin: 10px 20px;
           background-color: white;
           font-size: 30px;
       }
       
       #keyboard {
           height: 80%;
       }
       
       .operator,
       .number,
       .empty {
           width: 15%;
           height: 40%;
           margin: 5%;
           float: left;
           border-radius: 50%;
           border-width: 0;
           font-weight: bold;
           font-size: 15px;
       }
       
       .number,
       .empty {
           background-color: white;
       }
       
       .number,
       .operator {
           cursor: pointer;
       }
       
       .operator:active,
       .number:active {
           font-size: 12px;
       }
       
       .operator:focus,
       .number:focus,
       .empty:first {
           outline: 0;
       }
       
       button:nth-child(4) {
           font-size: 20px;
           background-color: rgb(36, 235, 10);
       }
       
       button:nth-child(8) {
           font-size: 20px;
           background-color: rgb(44, 9, 245);
       }
       
       button:nth-child(12) {
           font-size: 20px;
           background-color: rgb(250, 1, 1);
       }
       
       button:nth-child(16) {
           font-size: 20px;
           background-color: rgb(255, 251, 7);
       }
       
       button:nth-child(20) {
           font-size: 20px;
           background-color: rgb(7, 218, 255);
       }